{{#extends 'base'}}

{{#block 'content'}}
<h1>All Available Pets</h1>
<a href="/pet/create" class="btn btn-primary btn-sm">Add New Pet</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each allPets}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.category.name}}
                </td>
                <td>
                    {{this.status}}
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/pet/delete/{{this.id}}">Delete</a>
                    <a class="btn btn-primary btn-sm" href="/pet/update/{{this.id}}">Edit</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}

{{/extends}}